.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  font-family: var(--font-geist-sans);
}

@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
}

.main {
  display: flex;
  flex-direction: column;
  gap: 32px;
  grid-row-start: 2;
}

.main ol {
  font-family: var(--font-geist-mono);
  padding-left: 0;
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.01em;
  list-style-position: inside;
}

.main li:not(:last-of-type) {
  margin-bottom: 8px;
}

.main code {
  font-family: inherit;
  background: var(--gray-alpha-100);
  padding: 2px 4px;
  border-radius: 4px;
  font-weight: 600;
}

.ctas {
  display: flex;
  gap: 16px;
}

.ctas a {
  appearance: none;
  border-radius: 128px;
  height: 48px;
  padding: 0 20px;
  border: none;
  border: 1px solid transparent;
  transition: background 0.2s, color 0.2s, border-color 0.2s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}

a.primary {
  background: var(--foreground);
  color: var(--background);
  gap: 8px;
}

a.secondary {
  border-color: var(--gray-alpha-200);
  min-width: 180px;
}

.envelope {
  width: 60px;
  height: auto;
}
.letsTalk {
  display: block;
}
.letsTalk p {
  font-size: 22px;
  margin-top: 25px;
  letter-spacing: 0.15rem;
}

.backButton {
  position: absolute;
  bottom: 30px;
  left: 30px;
  font-size: 20px;
}
.arrowLeft {
  font-size: 20px;
  margin-right: 12px;
  margin-top: 10px;
}

.pageTitle {
  position: absolute;
  top: 30px;
  left: 30px;
  font-size: 30px;
  font-weight: 300;
}

.contactForm {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  animation: slideLeft 2s forwards 1s;
  opacity: 0;
}

.contactForm input,
.contactForm textarea {
  color: white;
  border: 0;
  width: 100%;
  border-bottom: 1px solid #bb1f1f;
  margin-bottom: 40px;
  background-color: transparent;
  font-family: inherit;
  font-size: 18px;
  padding-bottom: 8px;
}

.contactForm textarea {
  height: 60px;
  resize: none;
  max-height: 60px;
}
.contactForm input:focus,
.contactForm textarea:focus {
  outline: none;
}

.contactForm button[type="submit"] {
  border: none;
  color: white;
  text-transform: uppercase;
  font-size: 18px;
  background: none !important;
}

::placeholder {
  color: white;
}

.contactColumns {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100vh;
}
.columnLeft {
  padding-right: 200px;
  text-align: center;
  animation: slideDown 1.5s forwards;
}
.email {
  margin-top: 40px;
  font-size: 21px;
  letter-spacing: 0.1rem;
}
.copyright {
  font-size: 11px;
  position: absolute;
  right: 30px;
  bottom: 20px;
  white-space: nowrap;
  letter-spacing: 0.1rem;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }

  .footer a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}
@keyframes slideDown {
  0% {
    transform: translate(0, -120px);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
@keyframes slideLeft {
  0% {
    transform: translate(150px, 0);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
@media (max-width: 600px) {
  .backButton {
    font-size: 16px;
    bottom: 20px;
  }
  .copyright {
    font-size: 10px;
    letter-spacing: 0;
  }
  .envelope {
    width: 40px;
  }
  .arrowLeft {
    margin-right: 5px;
  }

  .letsTalk p {
    font-size: 15px;
    margin-top: 25px;
  }
  .email {
    font-size: 16px;
    margin-top: 50px;
  }
  .contactColumns {
    flex-direction: column;
  }
  .columnLeft {
    padding: 0;
    margin-bottom: 50px;
  }
  .page {
    padding: 32px;
    padding-bottom: 80px;
  }
  .pageTitle {
    font-size: 24px;
  }
  .main {
    align-items: center;
  }

  .main ol {
    text-align: center;
  }

  .ctas {
    flex-direction: column;
  }

  .ctas a {
    font-size: 14px;
    height: 40px;
    padding: 0 16px;
  }

  a.secondary {
    min-width: auto;
  }

  .footer {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .contactForm input {
    font-size: 16px;
  }
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }
}
