.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  font-family: var(--font-geist-sans);
}

@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
}

.main {
  display: flex;
  flex-direction: column;
  gap: 32px;
  grid-row-start: 2;
}

.main ol {
  font-family: var(--font-geist-mono);
  padding-left: 0;
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.01em;
  list-style-position: inside;
}

.main li:not(:last-of-type) {
  margin-bottom: 8px;
}

.main code {
  font-family: inherit;
  background: var(--gray-alpha-100);
  padding: 2px 4px;
  border-radius: 4px;
  font-weight: 600;
}

.ctas {
  display: flex;
  gap: 16px;
}

.ctas a {
  appearance: none;
  border-radius: 128px;
  height: 48px;
  padding: 0 20px;
  border: none;
  border: 1px solid transparent;
  transition: background 0.2s, color 0.2s, border-color 0.2s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}

a.primary {
  background: var(--foreground);
  color: var(--background);
  gap: 8px;
}

a.secondary {
  border-color: var(--gray-alpha-200);
  min-width: 180px;
}

.envelope {
  width: 60px;
  height: auto;
}
.letsTalk {
  display: block;
}
.letsTalk p {
  font-size: 24px;
  margin-top: 15px;
  letter-spacing: 0.15rem;
}

.backButton {
  position: absolute;
  bottom: 40px;
  left: 40px;
  font-size: 20px;
}

.pageTitle {
  position: absolute;
  display: flex;
  top: 40px;
  left: 40px;
  font-size: 25px;
  font-weight: 300;
}

.contactForm {
  display: flex;
  flex-direction: column;
  max-width: 300px;
}

.contactForm input,
.contactForm textarea {
  color: white;
  border: 0;
  width: 100%;
  border-bottom: 1px solid #bb1f1f;
  margin-bottom: 40px;
  background-color: transparent;
  font-family: inherit;
  font-size: 18px;
  padding-bottom: 8px;
}

.contactForm textarea {
  height: 60px;
  resize: none;
  max-height: 60px;
}
.contactForm input:focus,
.contactForm textarea:focus {
  outline: none;
}

.contactForm button[type="submit"] {
  border: none;
  color: white;
  text-transform: uppercase;
  font-size: 18px;
  background: none !important;
}

/* ::placeholder {
  color: white;
} */

.contactColumns {
  justify-content: center;
  align-items: center;
  display: flex;
  max-width: 800px;
  font-size: 18px;
  margin: 0 auto;
  line-height: 2;
  margin-top: 60px;
}
.contactColumns > div {
  width: 50%;
  font-size: 18px;
}
.columnLeft {
  padding-right: 100px;
  text-align: right;
  font-size: 20px;
}
.columnRight {
  position: relative;
  padding-left: 100px;
}
.columnRight::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 1px;
  background-color: #0056b3;
  opacity: 0;
  animation: slideDown 2s forwards 2s;
}
.columnRight::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  width: 500px;
  background-color: #0056b3;
  animation: slideLeft 1s forwards 2s;
  opacity: 0;
}

.columnLeft .columnText {
  opacity: 0;
  animation: slideRight 1.5s forwards 1.5s;
}

.columnRight .columnText {
  opacity: 0;
  animation: slideLeft 1.5s forwards 1.5s;
}

.columnText p {
  margin-bottom: 1em;
  font-size: 18px;
}

.arrow {
  font-size: 25px;
  margin-right: 20px;
}
.arrowLeft {
  font-size: 20px;
  margin-right: 7px;
  margin-top: 10px;
}

.slash {
  width: 1px;
  height: 6vw;
  background: white;
  transform: rotate(30deg) scaleY(0.2);
  display: inline-flex;
  margin: 0 2vw;
  color: white;
  animation: scaleUp 1s forwards;
  transform-origin: 50%;
}

.whatWeDo {
  display: flex;
  align-items: flex-end;
}
.headlineContainer {
  display: flex;
  width: 100%;
  align-content: center;
  justify-content: center;
  padding-top: 260px;
}
.headline {
  font-size: 33px;
  font-weight: 400;
  color: #f0e1c0;
  letter-spacing: 0.07rem;
  left: 0;
  width: 100%;
  text-align: center;
  opacity: 0;
  transform: scale(1, 0);
  animation: deBlur 1s linear 0.5s forwards;
}

.corners > div {
  position: fixed;
  width: 150px;
  height: 150px;
  border-style: solid;
  border-width: 0;
  border-color: #0056b3;
  transform: scale(0, 0);
  opacity: 0;
  animation: scaleIn 2s forwards;
  pointer-events: none;
}
.corners > div:nth-child(1) {
  left: 15px;
  top: 15px;
  border-left-width: 2px;
  border-top-width: 2px;
  transform-origin: 0 0;
}
.corners > div:nth-child(2) {
  right: 15px;
  top: 15px;
  border-right-width: 2px;
  border-top-width: 2px;
}
.corners > div:nth-child(3) {
  left: 15px;
  bottom: 15px;
  border-left-width: 2px;
  border-bottom-width: 2px;
  transform-origin: 0 100px;
}
.corners > div:nth-child(4) {
  right: 15px;
  bottom: 15px;
  border-right-width: 2px;
  border-bottom-width: 2px;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }

  .footer a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}

@keyframes scaleIn {
  0% {
    opacity: 0;
    transform: scale(0, 0);
  }
  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}

@keyframes deBlur {
  0% {
    opacity: 0;
    transform: scale(1, 0);
  }
  100% {
    opacity: 1;
    filter: blur(0);
    transform: scale(1, 1);
  }
}

@keyframes slideDown {
  0% {
    transform: translate(0, -60px);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes slideLeft {
  0% {
    transform: translate(150px, 0);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes slideRight {
  0% {
    transform: translate(-150px, 0);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
@keyframes scaleUp {
  0% {
    transform: rotate(30deg) scaleY(0);
    opacity: 0;
  }
  100% {
    transform: rotate(30deg) scaleY(1);
    opacity: 1;
  }
}

@media (max-width: 600px) {
  .page {
    padding: 32px;
    padding-bottom: 80px;
  }
  .pageTitle {
    font-size: 18px;
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    justify-content: center;
  }
  .arrow {
    margin-right: 5px;
    font-size: 7px;
  }
  .arrowLeft {
    margin-right: 7px;
  }
  .backButton {
    font-size: 15px;
  }
  .contactColumns * {
    width: auto;
    font-size: 14px;
  }
  .columnLeft {
    margin-bottom: 1em;
  }
  .contactColumns {
    margin-top: 0px;
    padding-top: 40px;
    max-width: 67%;
    flex-direction: column;
  }
  .contactColumns > div {
    width: 100%;
    padding: 0;
  }
  .columnText {
    text-align: center;
  }
  .columnText p {
    font-size: 13px;
    margin-bottom: 0.05em;
    margin-top: -2px;
  }
  .headline {
    font-size: 16.5px;
    font-weight: 500;
    line-height: 1.7rem;
    color: #f0e1c0;
    letter-spacing: 0.02rem;
    position: absolute;
    left: 0;
    right: 0;
    width: 100vw;
    text-align: center;
    top: 100px;
    max-width: 350px;
    margin: 0 auto;
    padding-top: 40px;
  }
  .headlineContainer {
    padding-top: 150px;
  }
  .columnRight::before {
    position: relative;
    margin-bottom: 1em;
    height: 1px;
    width: 180px;
    left: 50%;
    transform: translateX(-50%) !important;
    margin-bottom: 1em;
    top: 0;
  }
  .columnRight::after {
    display: none;
    width: 210px;
    bottom: -60px;
  }

  .main {
    align-items: center;
  }

  .main ol {
    text-align: center;
  }

  .ctas {
    flex-direction: column;
  }

  .ctas a {
    font-size: 14px;
    height: 40px;
    padding: 0 16px;
  }

  a.secondary {
    min-width: auto;
  }

  .footer {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .corners > div {
    height: 80px;
    width: 80px;
  }
}

@media (min-height: 750px) {
  .contactColumns {
    padding-top: 80px;
  }
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }
}

@media screen and (max-width: 375px) {
  .contactColumns p {
    line-height: 1.8rem;
  }
  .headline {
    padding-top: 10px;
  }
  .contactColumns {
    padding-top: 10px;
  }
}

@media screen and (max-width: 320px) {
  .contactColumns {
    padding-top: 0px;
  }
  .columnText p {
    font-size: 12px;
  }
}
